body{
    background-color: aqua;
}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    padding: 5px;
}
h1{
    text-align: center;
    color: orange;
}
p{
    font-size: 24pt;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
} 
figure{
    border: 1px solid #000000;
   padding: 5px;
   width: 624px;
   margin-left: auto; 
   margin-right: auto;
}
figcaption{
    font-family: papyrus, fantasy ;
    text-align: center;
}
section {
    text-align: center;
}